@using IhaleProject.Application.Contracts.Ihale;
@using IhaleProject.Web.Startup;
@model CreateIhaleDto;

@{
	ViewBag.Title = "İhaleler";
	ViewBag.CurrentPageName = PageNames.Ihale;
}

<section class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<h1>İhaleler</h1>
			</div>
		</div>

	</div>
</section>
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						
					</div>
					<div class="card-body">
						<button onclick="GetSelectValues('CreateIhale')" type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">Yeni İhale Ekle</button>
						<div class="table-responsive">
							<table id="IhalelerTable" class="table table-striped table-bordered">
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@await Html.PartialAsync("~/Views/Ihale/_CreateModal.cshtml",Model)
@await Html.PartialAsync("~/Views/Ihale/_UpdateModal.cshtml",Model)

@section scripts {
	<script>

		İhalelerDataTableLoad();
		var updateForm = $("#updateform");

		function İhalelerDataTableLoad() {
			var İhalelerDataTable = $('#IhalelerTable');

			İhalelerDataTable.DataTable({
				processing: true,
				bDestroy: true,
				searching: true,
				ordering:true,
				ajax: {
					url: "@Url.ActionLink("GetYayindakiIhaleler","Ihale")",
					dataSrc: 'result.ihaleler'
				},
				columns: [
					{
						data: "ihaleNo",
						title: "İhale No"
					},
					{
						data: "ihaleAdi",
						title: "İhale Adi"
					},
					{
						data: "birimAdi",
						title: "Birim"
					},
					{
						data: "alimTuruAdi",
						title: "Alim Turu"
					},
					{
						data: "alimUsuluAdi",
						title: "Alim Usulu"
					},

					{
						data: "baslangicTarihi",
						title: "Başlangiç Tarihi"
					}, {
						data: "bitisTarihi",
						title: "Bitiş Tarihi"
					},
					{
						data: "id",
						title: "Dosya",
						render: (data) => {
							var link = "@Url.ActionLink("GetIhaleFile","Ihale")" + "/" + data;

							return `<a href="${link}"><button class="btn btn-danger">İndir</button></a>`
						}

					},
					{
						data: "id",
						title: "Güncelle",
						render: (data) => {
							return `<button onclick="GetUpdateValue(event)" data-update-id="${data}" data-toggle="modal" data-target="#updateModal" class="update-btn btn btn-warning">guncelle</button>`
						}

					},
					{
						data: "id",
						title: "Yayından Kaldır",
						render: (data) => {
							return `<button onclick="YayindanKaldir('${data}')"   class="update-btn btn btn-danger">Kaldır</button>`
						}

					}

				],
				columnDefs: [{
					"defaultContent": "-",
					"targets": "_all"
				}]
			});
		}

		function GetUpdateValue(event) {

			var id = event.target.getAttribute("data-update-id")

			updateForm.submit(function (event) {
				if (updateForm.valid()) {
					event.preventDefault();
					WarningAlert("u", id);
				}
			});

			$.get("@Url.ActionLink("GetIhale","Ihale")" + "/" + id, function (data) {

				var dataObj = data.result;

				console.log(dataObj);



				GetSelectValues("updateform", { BirimSelect: dataObj.birimId, AlimTuruSelect: dataObj.alimTuruId, AlimUsuluSelect: dataObj.alimUsuluId });

				if (dataObj.ihaleAktifMi == true)
					updateForm.find("input[name='ihaleAktifMi']").attr("checked", true)
				else
					updateForm.find("input[name='ihaleAktifMi']").attr("checked", false)

				for (const key in dataObj) {
					updateForm.find("input[name='" + key + "']").val(dataObj[key]);
				}

			})
		}


		var alertTypes = {
			delete: "d",
			update: "u"
		}

		function YayindanKaldir(id){

			

				var link = "@Url.ActionLink("YayindanKaldir","Ihale")" + "/" + id;

				swal({
					title: "Yayından kaldırmak istiyormusunuz ?",
					icon: "warning",
					buttons: ["İptal", "Onayla"],
					dangerMode: true,
				})
					.then((isTrue) => {

						if (isTrue) {
							$.post(link)
								.done(function () {
									swal("Yayından Kaldırıldı");
									İhalelerDataTableLoad();
								}).fail(function (err) {
									console.log(err);
									swal("Hata");
								})
						} else {
							swal("iptal edildi")
						}




					});

		}

		function WarningAlert(type, id) {

			var alertProps = {
				title: "",
				icon: "",

			}


			if (type == alertTypes.delete) {
				alertProps.title = "Silmek istediğinizden emin misiniz ?";
				alertProps.icon = "warning";
			}
			else {
				alertProps.title = "Güncellemek istediğinizden emin misiniz ?";
				alertProps.icon = "warning";
			}

			swal({
				title: alertProps.title,
				icon: alertProps.icon,
				buttons: ["Onayla", "İptal"],
				dangerMode: true,
			})
				.then((isTrue) => {
					if (type == alertTypes.delete) {
						if (!isTrue) {
							$.post(`@Url.Action("Delete","Ihale")/${id}`)
								.done(function () {
									swal("Silindi");
									İhalelerDataTableLoad();
								}).fail(function (err) {
									console.log(err);
									swal("Hata");
								})
						} else {
							swal("iptal edildi")
						}
					}
					else {
						if (!isTrue) {

							var $inputs = $('#updateform :input');

							var values = {};
							$inputs.each(function () {
								values[this.name] = $(this).val();
							});

							console.log(values);

							
							$.post(`@Url.Action("Update","Ihale")/${id}`, values,)
								.done(function () {
									swal("Güncellendi");
									İhalelerDataTableLoad();
								})
								.fail(function (data) {
									swal("Hata");
								})

						}
						else {
							swal("iptal edildi")
						}
					}
				});
		}

		function GetSelectValues(formId, selectedDefaluts = { BirimSelect: "-1", AlimTuruSelect: "-1", AlimUsuluSelect: "-1" }) {

			//control is update

			var form = $("#" + formId);


			var birimSelect = form.find("#BirimSelect");
			var alimTuruSelect = form.find("#AlimTuruSelect");
			var alimUsuluSelect = form.find("#AlimUsuluSelect");


			$.get("@Url.ActionLink("GetBirimler","Birim")", function (data) {

				var dataObj = data.result.birims;

				birimSelect.empty();

				$.each(dataObj, function (index, item) {
					birimSelect.append($('<option></option>')
						.text(item.birimAdi)
						.val(item.id));
				});


				$("#BirimSelect option[value=" + selectedDefaluts.BirimSelect + "]").attr('selected', 'selected');


			})

			$.get("@Url.ActionLink("GetAlimTurleri","AlimTuru")", function (data) {

				var dataObj = data.result.alimTurleri;

				alimTuruSelect.empty();

				$.each(dataObj, function (index, item) {

					alimTuruSelect.append($('<option></option>')
						.text(item.alimTuru)
						.val(item.id));
				});

				$("#AlimTuruSelect option[value=" + selectedDefaluts.AlimTuruSelect + "]").attr('selected', 'selected');

			})

			$.get("@Url.ActionLink("GetAlimUsullleri","AlimUsulu")", function (data) {

				var dataObj = data.result.alimUsulleri;

				console.log(dataObj);

				alimUsuluSelect.empty();

				$.each(dataObj, function (index, item) {


					alimUsuluSelect.append($('<option></option>')
						.text(item.alimUsulu)
						.val(item.id));
				});


				$("#AlimUsuluSelect option[value=" + selectedDefaluts.AlimUsuluSelect + "]").attr('selected', 'selected');


			})



		}


	</script>
}

